$breakpoint: 750px;
@mixin mq {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}
@include mq {
  * {
    box-sizing: border-box;
  }
  .wrapper {
    height: 100vh;
    width: 100%;
    .header {
      background-image: url("people640.jpg");
      background-size: cover;
      min-height: 70vh;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
      .header-top {
        color: black;
        opacity: 0.7;
        font-family: serif;
        font-size: 40px;
        letter-spacing: 15px;
        text-align: center;
        background-color: rgba(255, 238, 1, 0.4);
        padding-left: 5px;
        padding-right: 5px;
      }
      .header-top2 {
        letter-spacing: 3px;
        font-size: 30px;
        color: black;
        font-family: serif;
        opacity: 0.7;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        display: none;
      }
      .fas {
        color: white;
        font-size: 60px;
        bottom: 90px;
        opacity:0.6;
        left: 155px;
        animation-name:sample01;
        animation-duration:5s; 
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        @keyframes sample01 {
        0% {
         opacity: 0;
         transform: translateY(30px);
        }
          50%{
            opacity: 1;
             transform: translateY(80px);
          }
         100% {
         opacity:0;
         transform: translateY(120px);
         } 
        }
      }
    }
    .banner {
      height: 100px;
      width: 100%;
      display: flex;
      position: fixed;
      top: 0;
      z-index: 10;
      .check:checked ~ .wrapper {
        -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        transform: translateX(-300px);
      }
      .drawer-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 23vh;
        background-color: rgba(255, 238, 1, 0.4);
        -webkit-transform: perspective(500px) rotateY(-90deg);
        transform: perspective(500px) rotateY(-90deg);
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .top {
          text-decoration: none;
          font-size: 23px;
          letter-spacing: 2px;
          color: black;
          opacity: 0.7;
          font-family: serif;
          margin-bottom: 18px;
        }
      }
    .check:checked ~ .drawer-menu {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        opacity: 1;
    }
    
    /* チェックボックスを非表示 */
    .check {
        display: none;
    }
    
    /* メニューボタン(label) */
    .fas {
        position: fixed;
        display: block;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        color: black;
        opacity: 0.7;
        font-size: 40px;
        cursor: pointer;
        z-index: 3;
    }
    
    /* コンテンツの閉じる。普段は非表示(label)*/
    .fab {
        position: fixed;
        top: 0;
        right: 200px;
        width: 100%;
        height: 500px;
        visibility: hidden;
        opacity: 0;
    }
    /* チェックボックスオンの時 */
      .check:checked ~ .fab {
        visibility: visible;
        opacity: 1;
        z-index: 3;
      }
    }
      &__info {
        width: 25%;
        border: 1px solid rgb(224, 224, 224);
        font-family: cursive;
        color: rgb(255, 230, 0);
        background-color: rgba(255, 255, 255, 0.2);
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
        font-size: 20px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all  0.4s ease;
        &:hover {
          background-color: rgba(255, 255, 255, 0.6);
        }
        .touch {
          text-decoration: none;
          color: rgb(255, 230, 0);
          text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
        }
        .fas {
          color: lightgray;
          display: none;
        }
        .fab {
          color: lightgray;
          display: none;
        }
        .far {
          color: lightgray;
          display: none;
        }
      }
    .main {
      min-height: 100vh;
      &__open {
        height: 30vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255, 238, 1, 0.7);
        text-align: center;
        .intro {
          font-size: 20px;
          letter-spacing: 5px;
          color: black;
          opacity: 0.6;
          font-family: serif;
        }
      }
      &__campaign {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: whitesmoke;
        .yoga {
          width: 150px;
          height: 200px;
        }
        .free {
          display: flex;
          flex-direction: column;
          &__in {
            font-size: 18px;
            opacity: 0.7;
            color: black;
            font-family: serif;
            letter-spacing: 5px;
            border-bottom: 2px solid yellow;
          }
          &__in2 {
            font-size: 70px;
            text-align: center;
            color: black;
            text-shadow: 0 0 100px rgba(255, 238, 1, 1);
            font-family: serif;
            font-weight: bold;
          }
        }
      }
      &__system {
        height: 800px;
        background-color: rgba(255, 238, 1, 0.7);
        .title {
          color: white;
          font-size: 30px;
          text-align: center;
          font-family: serif;
          letter-spacing: 10px;
          margin-bottom: 20px;
          padding-top: 30px;
          .fas {
            color: lightgray;
            display: none;
          }
        }
        .experiences {
          text-align: center;
          font-size: 20px;
          color: black;
          opacity: 0.7;
          font-family: serif;
          letter-spacing: 10px;
          margin-bottom: 5px;
        }
        .experience {
          text-align: center;
          font-size: 15px;
          color: black;
          opacity: 0.7;
          font-family: serif;
          letter-spacing: 5px;
          margin-bottom: 25px;
        }
        .plan {
          font-size: 45px;
          color: black;
          text-align: center;
          font-family: monospace;
          margin: 0 auto;
          width: 90%;
          padding-bottom: 80px;
          padding-top: 20px;
          background-color: white;
        }
        .time {
          font-size: 20px;
          text-shadow: none;
        }
        .money {
          font-size: 30px;
          color: black;
          text-shadow: 0 0 100px rgba(255, 238, 1, 1);
          text-align: center;
          padding-top: 30px;
          .survies {
            font-size: 30px;
          }
        }
      }
      .hours {
        height: 200px;
        .title {
          text-align: center;
          color: black;
          opacity: 0.7;
          font-size: 30px;
          margin-bottom: 20px;
          margin-top: 30px;
          letter-spacing: 10px;
          font-family: serif;
          .far {
            color: lightgray;
            display: none;
          }
        }
        &__all {
          display: flex;
          align-items: center;
          justify-content: center;
          .image-logo {
            width: 150px;
            height: 120px;
          }
          .daytime {
            font-size: 18px;
            font-family: serif;
            font-weight: bold;
            color: black;
            opacity: 0.7;
            text-shadow: 0 0 100px rgba(255, 238, 1, 1);
          }
          .day {
            font-family: serif;
            font-size: 18px;
            color: black;
            opacity: 0.7;
            text-shadow: 0 0 100px rgba(255, 238, 1, 1);
          }
        }
      }
      .address {
        height: 470px;
        .title {
          text-align: center;
          color: black;
          opacity: 0.7;
          font-size: 30px;
          margin-bottom: 20px;
          margin-top: 30px;
          letter-spacing: 10px;
          font-family: serif;
          .far {
            color: lightgray;
            display: none;
          }
        }
        .map {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-direction: column;
          iframe {
            height: 180px;
            width: 100%;
          }
          &__info {
            font-size: 20px;
            font-family: serif;
            opacity: 0.7;
            text-shadow: 0 0 100px rgba(255, 238, 1, 1);
            .code {
              margin-top: 20px;
              text-decoration: none;
              color: black;
              &:hover {
                text-decoration: underline;
              }
            }
            .tells {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 20px;
              .tell {
                display: block;
                text-decoration: none;
                color: black;
                margin-left: 20px;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
      .insta {
        height: 380px;
        .title {
          text-align: center;
          color: black;
          opacity: 0.7;
          font-size: 30px;
          margin-top: 30px;
          letter-spacing: 10px;
          font-family: serif;
          .fab {
            color: lightgray;
            display: none;
          }
        }
        .insta-image {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          flex-direction: column;
          .image-insta {
            width: 200px;
            height: 200px;
          }
          .insta-info {
            font-family: serif;
            font-size: 15px;
            opacity: 0.7;
            letter-spacing: 5px;
            text-shadow: 0 0 100px rgba(255, 238, 1, 1);
          }
        }
      }
    }
    .footer {
      height: 220px;
      background-color: black;
      &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 30px;
        .footer-image {
          width: 150px;
          height: 130px;
        }
        .footer-light {
          color: rgb(255, 230, 0);
          margin-left: 10px;
          .name {
            font-size: 20px;
          }
          .company {
            font-size: 15px;
          }
          .boss {
            font-size: 25px;
          }
          .phone {
            text-decoration: none;
            color: rgb(255, 230, 0);
            font-size: 20px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .btn {
      position: fixed;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      &__left {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgba(255, 255, 255, 0.3);
        height: 40px;
        margin-top: 130px;
        color: rgb(255, 230, 0);
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        border: 1px solid lightgray;
        display: none;
      }
      &__all {
        margin-top: 80px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        transition: all  0.4s ease;
        .phone {
          font-size: 30px;
          text-decoration: none;
          color: rgb(255, 230, 0);
        }
        .insta {
          font-size: 30px;
          text-decoration: none;
          color: rgb(255, 230, 0);
        }
      }
    }
  }
}